.vxe-table--render-default .vxe-cell--checkbox .vxe-checkbox--icon {
  color: #ccc;
}

.vxe-table--filter-wrapper {
  padding: 8px;

  .vxe-input {
    border: none;
  }
}

.vxt-header-btn {
  display: inline-flex;
  align-items: center;

  &-icon {
    margin-left: 6px;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.2;

    &:hover {
      opacity: 0.8;
    }

    &.active {
      color: hsl(212deg 100% 45%) !important;
      opacity: 1;
    }
  }
}
